<!-- <app-header-bar></app-header-bar> -->
<div class="header">SpaceX Launch Programs</div>
<!-- <app-sibling></app-sibling>
<app-parent></app-parent> -->
<div>
  <div class="container-fluid">
    <div class="row">
      <!-- Side Search Bar -->
      <div class="col-md-3">
        <app-search-bar></app-search-bar>
      </div>
      <!-- main content -->
      <div class="col-md-9">
        <app-launch-info></app-launch-info>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer-bar></app-footer-bar>
</div>
<router-outlet></router-outlet>

